---
permalink: /expohacksiii
---

{% include header.html %} {% include nav.html content="hacks" %}
<div class="hacks-content">
  <h1 class="big-boy">Welcome to Expo Hacks III!</h1>
  <p class="content">
    Expo Hacks is a high school hackathon — that is, an intensive twelve-hour
    programming event where students work in teams to develop various software
    projects. Learn more about what is hackathon is here.
  </p>
  <h1 class="big-boy">FAQ</h1>
  <h1 class="small-boy">Who can participate?</h1>
  <p class="content">
    Any high school student can participate in all of our events. If you've
    graduated from high school but still want to participate, feel free to
    contact us to inquire into being a mentor!
  </p>
  <h1 class="small-boy">How do I form or join a team?</h1>
  <p class="content">
    There will be a session at the beginning of the hackathon for you to meet
    others and form teams. Each team may have a maximum of four (4) people. You
    will also be invited to our Slack one week before the event starts; feel
    free to start making connections with other students there!
  </p>
  <h1 class="small-boy">What should I bring?</h1>
  <p class="content">
    Bring a valid student ID, a laptop, chargers, and power strips if necessary.
    We’ll supply an area for you to hang out.
  </p>
  <h1 class="small-boy">What if I have dietary restrictions?</h1>
  <p class="content">
    Just remember to add them to your application when you sign up — we’ll be
    sure to accommodate you! Please note that we do offer vegetarian options for
    all of our meals.
  </p>
  <h1 class="small-boy">Who runs Expo Hacks?</h1>
  <p class="content">
    Expo Hacks is run by the umbrella organization otherwise known as the
    Tri-Valley Youth Expo. We are comprised of a group of students from across
    the Tri-Valley. You can learn more about us when you
    <a href="">&nbsp; meet the team</a>
  </p>
  <h1 class="big-boy">Prize Categories</h1>
  <h1 class="small-boy">Health</h1>
  <p class="content">
    Health has always been a field where issues are created just as often as
    they are solved. While epidemics such as the infamous chicken pox and
    measles are almost fully eradicated, cancer, obesity, and other degenerative
    diseases are facing our society today. And that isn’t all — there are plenty
    of physical and mental disabilities that limit other people’s ability to
    succeed. In Health, your goal is to help make the world a safe, inclusive
    place — with a project that makes someone’s life easier, whether it’s a
    modern-day text-to-speak program or an ingenious app for quick medical
    communication.
  </p>
  <h1 class="small-boy">Business</h1>
  <p class="content">
    We’re in Silicon Valley, the core of American entrepreneurship — and
    ultra-competitive, at that! Students participating in Expo Hacks will get to
    see a combination of tech and business that will coalesce to show them what
    exactly the Tri-Valley is about; the versatile application of online skills
    to problems that aren’t only faced by ordinary people, but startups and
    corporations as well. Let your passion for tech take you above and beyond —
    accept no limits!
  </p>
  <h1 class="small-boy">Education</h1>
  <p class="content">
    School is a staple in most people’s lives for more than a decade — and
    education is an area in tech that can often go overlooked. What do you think
    is a problem your school needs to solve? What issue do you know you can fix?
    Use your skills to create multi-faceted, inventive, accessible solutions.
    And remember, use your imagination — education can encompass an enterprising
    way to raise female education rates in developing countries or address
    poverty in systems all around the world. It’s all about knowledge; use yours
    to help educate the world!
  </p>
</div>
{% include footer.html %}
