---
permalink: /
---

{% include header.html %} {% include nav.html content="" %}
<div class="content">
  <div class="logo">
    <a href="/#openletter">
      <img
        src="https://raw.githubusercontent.com/Tri-Valley-Youth-Expo/site.github.io/master/assets/Final_PNG.png"
        alt=""
      />
    </a>
  </div>
  <div class="Site">
    <div class="event">
      <div class="eventcontent">
        <a href="/battleofthebands">
          <h1 class="band">Battle of the Bands</h1>
          <div class="info">
            <h4 class="details">2 PM - 8PM, June 16</h4>
            <h4 class="details">Emerald Glen Park</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="event">
      <div class="eventcontent">
        <a href="/expohacksiii">
          <h1 class="hack">&lt;expo_hacks/&gt;</h1>
          <div class="info">
            <h4 class="details">8 AM - 8PM, March 22</h4>
            <h4 class="details">Dublin High School</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="openletter">
  <div class="letter">
    <h3>A Letter From Our President:</h3>
    <p>
      At the Tri-Valley Youth Expo, the region’s largest exposition of youth
      art, music, technology and culture, we aim to capture the true essence of
      what it means to be part of such an amazing, innovative and diverse
      community. We are believers that the talents and creativity of students
      today will shape our future; and we’re happy to offer a platform for the
      youth community in the Tri-Valley to start changing the world. To us there
      is little more powerful and meaningful than a united, liberated community
      — where passion is encouraged, progress happens!
      <br />
      We hope to see you at our events soon!
    </p>
    <img src="" alt="Diya's Signature" />
    <p id="signature">Diya Vij</p>
    <a href="mailto:diya@trivalleyyouthexpo.com">diya@trivalleyyouthexpo.com</a>
  </div>
  <img
    src="https://media.licdn.com/dms/image/C4E03AQGkrZymKaqn7w/profile-displayphoto-shrink_200_200/0?e=1578528000&v=beta&t=tnvt4fgiDbNEK8_LDi0wJ4d4WPmLJVGr6oa6NR60QCc"
    alt="Diya's Smiling Face"
  />
</div>
{% include footer.html %}
